
<div class="row float-left">
    <div class="col-md-12 ">
        <button class="btn btn-primary">
            <span class="spinner-border-sm me-1" ></span>
            Add New
        </button>
    </div>
</div>
<div class="container text-center mt-12">
  <div class="row">
    <app-cm-table [headArr]="headerArr" [gridArr]="listOfZones" [totalRecords]="totalRecords" 
    [totalPages]="totalPages" [perPage]="recordPerPage" (pager)="onPager($event)" [collectionSize]="totalRecords" 
    (recordPerPage)="onRecordPageChange($event)" (search)="onPageSearch($event)"></app-cm-table>
  </div>

</div>