<div class="container text-center mt-4">
  <!-- <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
      <thead>
        <tr>
          <th>ID</th>
          <th>Zone Name</th>
          <th>Description</th>
          <th>Action</th>
          </tr>
      </thead>
      <tbody>
          
              <tr *ngFor="let group of listOfZones">
                  <td>{{group.id}}</td>
                  <td>{{group.zoneName}}</td>
                  <td>{{group.description}}</td>
                  <td><button type="button" class="form-control" value="View">View</button></td>
              </tr>
      </tbody>
    </table> -->
  <div class="row">
    <app-cm-table [headArr]="headerArr" [gridArr]="listOfZones" (pager)="onPager($event)"></app-cm-table>
  </div>

</div>