<div class="row">
    <div class="col-md-2">
        <span>Records Per Page</span>
    </div>
    <div class="col-md-1 float-right">
        <select class="form-control " [(ngModel)]="selectedValue" (change)="onPageChange()">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
    <div class="col-md-9 float-left">
        <ngb-pagination [collectionSize]="100" [(page)]="selectedValue" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>