<div class="p-4">
    <div class="row">

        <div class="col-xl-12  grid-margin" id="mediaList">
            <div class="card  border-0">
                <div class="card-body p-2 bgTable" style="border-radius: 0 0;">


                    <div class="table-responsive">
                        <table class="table table-striped text-center mb-0 table-light table-hover" id="vmsList"
                            datatable>
                            <thead>
                                <tr>
                                    <th style="width:100px;text-align: left!important;"><input type="checkbox"
                                            [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" /> <strong>
                                            Select All</strong> </th>
                                    <th style="text-align: left!important;"> Media List</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let d of data">
                                    <td class="p-3"><input type="checkbox" [(ngModel)]="d.is_selected" /></td>
                                    <td class="text-left p-3" style=" padding: 0px!important;"><span
                                            class="rounded-circle  p-2 bgTable text-white border-1 border-primary m-2 text-center d-inline-block"><i
                                                class="icon-video"></i> </span> {{d.vmsId}} - {{d.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

                <blockquote class="blockquote text-center bg-light mb-0" style="border-radius: 0 0 15px 15px;">
                    <h5 class="mb-0 text-danger"> Note <sup>*</sup> : Use this functionality whenever you have reset vms
                        or clear/delete vms medias from third party application.</h5>
                </blockquote>
            </div>
        </div>
    </div>
</div>