<div class="container text-center mt-4">
  <input class="form-control mt-2 mb-2" type="text" [(ngModel)]="searchText" (input)="Search()"
    placeholder="Search Here" />
  <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th *ngFor="let column of headArr" >{{column.Head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of gridArr;let sr=index" (click)="ShowForm(item)">
        <td title="Click to View/Edit/Remove">{{sr+1}}</td>
        <td *ngFor="let head of headArr">
          <span *ngIf="head.FieldName != 'isActive' && head.FieldName != 'actions'">{{item[head.FieldName]}}</span>
          <span *ngIf="head.FieldName == 'isActive' && item[head.FieldName] == 'Active'" class="badge badge-success">{{item[head.FieldName]}}</span>
          <span *ngIf="head.FieldName == 'isActive' && item[head.FieldName] == 'In Active'" class="badge badge-danger">{{item[head.FieldName]}}</span>
          <span *ngIf="head.FieldName == 'actions' && btnArray.length > 0"><button *ngFor="let btn of btnArray" type="button" class="btn btn-inverse-primary btn-sm" (click)="GoToConfig()">
            <div class="tooltip-example">
              <div tooltip="Click to change" placement="top" delay="500" ><i [class]="btn.icon"></i></div>
            </div>
          </button></span>
        </td>
        <!-- <td *ngIf="btnArray.length > 0">
          
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-cm-pagination [totalRecords]="totalRecords" [recordsPerPage]="perPage" [collectionSize]="collectionSize" [totalPages]="totalPages"
        (pageno)="onPageChange($event)" (perPage)="onPageRecordsChange($event)" >
      </app-cm-pagination>
    </div>
  </div>
</div>