<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary float-left" (click)="OpenModal(cmmodal)">
                <span class="spinner-border-sm me-1"></span>
                Add New
            </button>
        </div>
    </div>
    <div class="row">

        <div class="row">
            <div class="col-md-12 ">
                <app-cm-table [headArr]="headerArr" [gridArr]="listOfPlaylist" [totalRecords]="totalRecords"
                    [totalPages]="totalPages" [perPage]="recordPerPage" (pager)="onPager($event)" [btnArray]="btnArray"
                    (btnAction)="ButtonAction($event)" [collectionSize]="totalRecords" (recordPerPage)="onRecordPageChange($event)" link="users/add-user"
                    fieldName="id" (search)="onPageSearch($event)" (searchWithId)="SearchWithId($event)"></app-cm-table>
            </div>
        </div>


    </div>
</div>

<ng-template #cmmodal let-modal>
    <app-cm-modal></app-cm-modal>
</ng-template>